.header-container {
  background-color: #002D72;
  padding: 10px 20px;
}

.header-content {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

.header-logo {
  width: 100px; /* Ajusta tamaño del logo */
  height: 70px;
  margin-right: 10px; /* Espacio entre logo y texto */
}

.header-title {
  color: #B9975B;
  font-size: 1.7rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700; /* 700 es negrita */
}


.card-title, .card-body, .offcanvas {
  font-family: 'Playfair Display', serif; /* fuente agregada */
  font-size: 1.1rem;

}

.card-title{
  font-weight: 600; /* 700 es negrita */
  font-size: 1.2rem;
}
