.header-container {
  position: sticky; /* Hace que el header se quede pegado al top */
  top: 0;           /* Se pega al borde superior */
  width: 100%;      /* Ocupa todo el ancho */
  z-index: 1000;    /* Para que esté sobre otros elementos */
  background-color: #002D72; /* Fondo blanco para que no se vea transparente */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil */
    padding: 10px 20px;

}

.header-content {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: space-between;
  flex: 1;

}

.header-logo {
  width: 100px; /* Ajusta tamaño del logo */
  height: 70px;
  margin-right: 10px; /* Espacio entre logo y texto */
}

.header-title {
  color: #B9975B;
  font-size: 1.7rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700; /* 700 es negrita */
}


.card-title, .card-body, .offcanvas {
  font-family: 'Playfair Display', serif; /* fuente agregada */
  font-size: 1.1rem;

}

.card-title{
  font-weight: 600; /* 700 es negrita */
  font-size: 1.2rem;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-search {
  width: 250px !important;
  flex: 0 0 auto;
}
